body{
    background-color: rgb(255, 123, 0);
    margin: 0;
}

div{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6em 10em 3em;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
}

header{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 123, 0, 0));
}

nav{
    display: grid;
    grid-template-columns: 3em 12em 12em auto;
    grid-template-rows: 3em;
    grid-template-areas: "section section section section";

}

p{
    text-align: center;
    font-size: 2.2em;
    margin: 0.2em;
    color: white;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.4em;
    margin: 0.4em;
    color: white;
}